[submodule "BinaryKnapsackBlock"]
	path = BinaryKnapsackBlock
	url = https://gitlab.com/smspp/binaryknapsackblock.git
[submodule "BundleSolver"]
	path = BundleSolver
	url = https://gitlab.com/smspp/bundlesolver.git
[submodule "CapacitatedFacilityLocationBlock"]
	path = CapacitatedFacilityLocationBlock
	url = https://gitlab.com/smspp/capacitatedfacilitylocationblock.git
[submodule "FrankWolfeSolver"]
	path = FrankWolfeSolver
	url = https://gitlab.com/smspp/frankwolfesolver.git
[submodule "InvestmentBlock"]
	path = InvestmentBlock
	url = https://gitlab.com/smspp/investmentblock.git
[submodule "LagrangianDualSolver"]
	path = LagrangianDualSolver
	url = https://gitlab.com/smspp/lagrangiandualsolver.git
[submodule "MCFClassSolver"]
	path = MCFClassSolver
	url = https://gitlab.com/smspp/mcfclasssolver.git
[submodule "MCFLemonSolver"]
	path = MCFLemonSolver
	url = https://gitlab.com/smspp/mcflemonsolver.git
[submodule "LukFiBlock"]
	path = LukFiBlock
	url = https://gitlab.com/smspp/lukfiblock.git
[submodule "MCFBlock"]
	path = MCFBlock
	url = https://gitlab.com/smspp/mcfblock.git
[submodule "MILPSolver"]
	path = MILPSolver
	url = https://gitlab.com/smspp/milpsolver.git
[submodule "MMCFBlock"]
	path = MMCFBlock
	url = https://gitlab.com/smspp/mmcfblock.git
[submodule "SDDPBlock"]
	path = SDDPBlock
	url = https://gitlab.com/smspp/sddpblock.git
[submodule "SMS++"]
	path = SMS++
	url = https://gitlab.com/smspp/smspp.git
[submodule "StochasticBlock"]
	path = StochasticBlock
	url = https://gitlab.com/smspp/stochasticblock.git
[submodule "tests"]
	path = tests
	url = https://gitlab.com/smspp/tests.git
[submodule "tools"]
	path = tools
	url = https://gitlab.com/smspp/tools.git
[submodule "TwoStageStochasticBlock"]
	path = TwoStageStochasticBlock
	url = https://gitlab.com/smspp/twostagestochasticblock.git
[submodule "UCBlock"]
	path = UCBlock
	url = https://gitlab.com/smspp/ucblock.git
[submodule "pySMSpp"]
	path = pySMSpp
	url = https://github.com/SPSUnipi/pySMSpp.git
[submodule "vcpkg-registry"]
	path = vcpkg-registry
	url = https://gitlab.com/smspp/vcpkg-registry
[submodule "wiki"]
	path = wiki
	url = https://gitlab.com/smspp/smspp-project.wiki.git
	branch = master
[submodule "org-profile"]
	path = org-profile
	url = https://github.com/SMSpp-Project/.github.git
	branch = main
