[submodule "SMS++"]
	path = SMS++
	url = https://gitlab.com/frangio68/sms_plus_plus
[submodule "SMILPBlock"]
	path = SMILPBlock
	url = https://gitlab.com/frangio68/sms_plus_plus_smilpblock
[submodule "MCFBlock"]
	path = MCFBlock
	url = https://gitlab.com/frangio68/sms_plus_plus_mcfblock_mcfsolver
[submodule "MCFClass"]
	path = MCFClass
	url = https://github.com/frangio68/Min-Cost-Flow-Class
[submodule "UCBlock"]
	path = UCBlock
	url = https://gitlab.com/AliGhezel/ucblock
[submodule "MILPSolver"]
	path = MILPSolver
	url = https://gitlab.com/niccolo/milpsolver
[submodule "BundleSolver"]
	path = BundleSolver
	url = https://gitlab.com/egorgone/bundlesolver
[submodule "SubGradSolver"]
	path = SubGradSolver
	url = https://gitlab.com/simone.zanda85/subgradsolver
[submodule "LukFiBlock"]
	path = LukFiBlock
	url = https://gitlab.com/egorgone/lukfiblock
